<h2>Booked Rooms </h2>


<% @booking.each do |book| %>
<% if book.room.user_id == current_user.id  %>

	<%= book.start_date %>
	<%= book.end_date %>
	<%= book.room.name %>

	<%= form_for book do |t|%>
	<%= t.hidden_field :is_confirmed, value:true %>
<%= t.submit "confirm" %>

<% end %>
<% end %>
<% end %>	