<p id="notice"><%= notice %></p>


<p>
<%=image_tag (@room.images.url)%>
</p>
  <strong>name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>address</strong>
  <%= @room.address %>
</p>


<p>
  <strong>latitude</strong>
  <%= @room.latitude %>
</p>


<p>
  <strong>Longtitude</strong>
  <%= @room.longitude %>
</p>

<p>
<strong>Amenities</strong>
<ol>
<% @room.amenities.each do |amenity| %>
<li><%= amenity.name %></li>
<% end %>

</ol>
</p>

<%= form_for @booking do |f| %>

<%= f.label "start_date" %>
<%= f.date_select :start_date  %>
<%= f.label "end_date" %>
<%= f.date_select :end_date%>
<%= f.hidden_field :room_id, value:@room.id %>
<%= f.submit "book" %>
<% end %>