<p id="notice"><%= notice %></p>


<p>
<%=image_tag (@room.images.url)%>
</p>
  <strong>name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>address</strong>
  <%= @room.address %>
</p>


<p>
  <strong>latitude</strong>
  <%= @room.latitude %>
</p>


<p>
  <strong>Longtitude</strong>
  <%= @room.longitude %>
</p>

<p>
<strong>Amenities</strong>
<ol>
<% @room.amenities.each do |amenity| %>
<li><%= amenity.name %></li>
<% end %>

</ol>
</p>
<%if user_signed_in? %>
<% if @room.user_id == current_user.id%>
 <%= link_to "add special price",  new_room_special_price_path(@room.id) %>

<% end %>
<% end %>
<%= form_for @booking do |f| %>

<%= f.label "start_date" %>
<%= f.text_field :start_date  %>
<%= f.label "end_date" %>
<%= f.text_field :end_date%>
<%= f.hidden_field :room_id, value:@room.id %>
<%= f.hidden_field  :price, value:@room.price %>
<%= f.submit "book" %>
<%= link_to "edit", edit_room_path(@room.id) %>

<% end %>
<% if user_signed_in? %>
<% if Review.show_rating_form(@room.id, current_user.id) %>

<%= form_for @review do |f| %>

<%= f.label "review" %><br />
<%= f.text_field :review  %><br />
<%= f.label "food rating" %><br /><br />

<%= f.radio_button :food_rating, 1 %>1
<%= f.radio_button :food_rating, 2%>2
<%= f.radio_button :food_rating, 3 %>3
<%= f.radio_button :food_rating, 4 %>4
<%= f.radio_button :food_rating, 5 %>5
<br /><%= f.label "cleanliness_rating" %><br /><br />
<%= f.radio_button :cleanliness_rating, 1 %>1
<%= f.radio_button :cleanliness_rating, 2 %>2
<%= f.radio_button :cleanliness_rating, 3 %>3
<%= f.radio_button :cleanliness_rating, 4 %>4
<%= f.radio_button :cleanliness_rating, 5 %>5
<br /><%= f.label "Safety_Rating" %><br /><br />
<%= f.radio_button :safety_rating, 1 %>1
<%= f.radio_button :safety_rating, 2 %>2
<%= f.radio_button :safety_rating, 3 %>3
<%= f.radio_button :safety_rating, 4 %>4
<%= f.radio_button :safety_rating, 5 %>5

<br /><%= f.label "locality_rating" %><br /><br />
<%= f.radio_button :locality_rating, 1%>1
<%= f.radio_button :locality_rating, 2%>2
<%= f.radio_button :locality_rating, 3%>3
<%= f.radio_button :locality_rating, 4%>4
<%= f.radio_button :locality_rating, 5%>5





<br /><%= f.label "facility_rating" %><br /><br />
<%= f.radio_button :facility_rating, 1%>1
<%= f.radio_button :facility_rating, 2%>2
<%= f.radio_button :facility_rating, 3%>3
<%= f.radio_button :facility_rating, 4%>4
<%= f.radio_button :facility_rating, 5%>5



<%= f.hidden_field :room_id, value:@room.id %>

<%= f.submit "add review" %>
<% end %>
<% end %>
<% end %>
<ol>
<% @reviews.each do |review| %>
<%= review.review %>
<%= link_to "edit", edit_review_path(review.id)%>
<%= link_to "destroy", review_path(review.id), method: :delete, data: {confirm: "Are you sure?"}%>
<% end %>
</ol>

<script>
// windowonload function()
$(document).ready(function(){

  var disableDates = <%= raw Booking.all.pluck(:start_date, :end_date).map{|dates| (dates[0]..dates[1]).to_a}.flatten.uniq.map{|date| date.strftime("%d %m %Y")} %>



  $('#booking_start_date').datepicker({
    dateFormat: 'yy-mm-dd',
    numberOfMonths: 2, 
    minDate: 0
  });
  $('#booking_start_date').on('change', function(){
  
    
          var startDate = new Date($('#booking_start_date').val());
        $('#booking_end_date').datepicker("destroy");

    $('#booking_end_date').datepicker({
    dateFormat: 'yy-mm-dd',
    numberOfMonths: 2, 
    minDate: startDate
    });
    
  });
});


  

</script>
<iframe  src="https://www.google.com/maps/embed/v1/place?key= AIzaSyCOO8uiw6fDx5OAP0tD2kPbcZeHwOQ31RM &q=<%= @room.latitude%>, <%= @room.longitude %>" allowfullscreen></iframe>